.bite-card-home-wrapper {
    box-sizing: border-box;
    width: 335px;

    .top-info {
        display: flex;
        align-items: center;

        .owner-avatar {
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: white;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        }

        .ownername-lefttime-wrapper {
            z-index: 1;
            margin-left: -15px;
            padding: 6px 10px 6px 30px;
            width: 230px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            background: #ffffff;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 0px 20px 0px 0px;
            display: flex;

            .ownername-lefttime {
                font-family: "Lato";
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: 0.02em;

                .owner-name {
                    width: 205px;
                    margin-bottom: 2px;
                    color: #7e7875;

                    span {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .left-time {
                    display: flex;
                    align-items: center;
                    color: #de5a67;
                }
            }
        }
    }

    .bite-body {
        width: 320px;
        margin-top: -40px;
        margin-left: 15px;
        background-color: #ffffff;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 30px 30px;
        padding-bottom: 40px;

        .video-part {
            display: flex;
            justify-content: center;
            position: relative;

            .react-player {
                width: 100% !important;
                height: 100% !important;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                video {
                    height: auto !important;
                    width: 100% !important;
                }
            }

            .cover-image {
                width: 280px;
                height: 480px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 0px 0px 15px 15px;
            }

            .prev-video {
                z-index: 1;
                position: absolute;
                left: 25px;
                cursor: pointer;
                transform: rotate(180deg);
            }

            .next-video {
                z-index: 1;
                position: absolute;
                right: 25px;
                cursor: pointer;
            }

            .play-icon {
                cursor: pointer;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                background: #efa058;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: #f2b176;
                }
            }

            .lock-btn {
                position: absolute;
                width: 280px;
                height: 480px;
                top: 0;
                left: 25;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.3);
            }

            .video-count {
                position: absolute;
                bottom: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);

                .active-bar {
                    width: 50px;
                    height: 8px;
                    background: #EFA058;
                    border-radius: 6px;
                }

                .inactive-bar {
                    width: 50px;
                    height: 8px;
                    background: #D9D9D9;
                    border-radius: 6px;
                }
            }
        }

        .price-purchased {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 6px 0px;

            span {
                display: flex;
                align-items: center;
                width: fit-content;
                height: 18px;
                padding: 0px 12px;
                background: #14bdc7;
                border-radius: 90px;
                font-family: "Lato";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #ffffff;
            }
        }

        .price-free {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 6px 0px;

            span {
                display: flex;
                align-items: center;
                width: fit-content;
                height: 18px;
                padding: 0px 12px;
                background: #F8907A;
                border-radius: 90px;
                font-family: "Lato";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #ffffff;
            }
        }

        .bite-title {
            margin: 0px auto;
            height: 52px;
            width: 280px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: "Lato";
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #efa058;
        }
    }
}