.create-bite-wrapper {
  .page-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    height: 52px;
    margin: 25px auto;
    padding: 0px 10px;

    .page-title {
      font-family: "Lato";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #efa058;
    }
  }

  .create-bite {
    margin: 0px auto;
    max-width: 880px;
    padding: 0px 30px;

    .uploaded-vidoes {
      display: flex;
      justify-content: space-evenly;

      .uploaded-video {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 280px;

        .time-duration {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px 5px;
          bottom: 10px;
          right: 10px;
          width: fit-content;
          height: 25px;
          background: #efa058;
          font-family: "Lato";
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 28px;
          color: #ffffff;
        }

        .mobile-part {
          position: relative;
          width: 100%;
          height: 100%;

          .cover-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
          }

          .play-icon {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            z-index: 1;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: #efa058;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background: #f2b176;
            }
          }
        }
      }
    }

    .upload-edit-btns {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      
      .upload-btn {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .react-player-hidden {
      display: none;
    }

    .session-title {
      font-family: "Lato";
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.05em;
      color: #efa058;
      margin-bottom: 15px;
    }

    .currency-description {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.005em;
    }

    .publish-btn {
      margin: 0px auto;
      max-width: 340px;
    }

    .first-divider {
      margin-top: 20px;
    }

    .second-divider {
      margin-top: 40px;
    }

    .third-divider {
      margin-top: 40px;
    }

    .firth-divider {
      margin-top: 15px;
    }

    .fifth-divider {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 940px) {
  .create-bite-wrapper {
    .create-bite {
      .uploaded-vidoes {
        .uploaded-video {
          width: 90px;

          .time-duration {
            bottom: 5px;
            right: 5px;
            height: 25px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .create-bite-wrapper {
    .page-header {
      margin: 15px auto;
    }

    .create-bite {
      .first-divider {
        margin-top: 20px;
      }

      .second-divider {
        margin-top: 35px;
      }

      .third-divider {
        margin-top: 15px;
      }

      .firth-divider {
        margin-top: 15px;
      }

      .fifth-divider {
        margin-top: 25px;
      }
    }
  }
}