.modal {
    z-index: 50;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;

    &.show {
        opacity: 1;
        pointer-events: visible;
    }

    #unsubscribed {
        .modal-content {
            box-sizing: border-box;
            width: 330px;
            background-color: #ffffff;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 5px;

            .modal-header {
                padding: 28px 18px 10px 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    font-family: "Lato";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #efa058;
                }

                .close-btn {
                    cursor: pointer;
                }
            }

            .modal-body {
                margin-top: 18px;
                font-family: "Lato";
                font-style: normal;
                padding: 0px 18px;

                .plan-name {
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: #efa058;
                }

                .subscription-fee {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 18px;
                    color: #54504e;
                }

                .explain {
                    margin-top: 20px;

                    ul {
                        margin: 0px;
                        padding: 0px 0px 0px 25px;

                        li {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 18px;
                            color: #54504e;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .modal-footer {
                padding: 0px 18px 35px 18px;
                display: flex;
                justify-content: space-between;
                margin: 20px 0px;
            }
        }
    }
}
