.profile-wrapper {
  width: 100%;
  margin: auto;
  max-width: 880px;

  .no-data {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #bab6b5;
    padding: 10px 0px;
  }

  .profile {
    display: flex;
    flex-direction: column;

    .profile-header {
      display: block;
      margin: auto;
    }

    .profile-menu {
      margin: 18px auto;
      width: 98%;
      max-width: 879px;
    }

    .creators-bite {
      margin: 20px 30px;
      display: flex;
      flex-direction: column;

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 5px 10px;
        border-bottom: 2.5px solid #ea8426;

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #efa058;
          margin-left: 10px;
        }
      }

      .bite-card {
        padding: 20px 5px;
        display: flex;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          height: 12px;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba(245, 195, 149, 0.1);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(245, 195, 149, 0.5);
          border-radius: 10px;
          transition: 0.2s;
          height: 20px;

          &:hover {
            background: #efa058;
          }
        }

        @media (max-width: 880px) {
          &::-webkit-scrollbar {
            display: none;
          }
        }

        .profile-bite {
          display: flex;
          justify-content: center;
          margin: 0 10px;
          background-color: transparent;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }

    .subscription {
      width: 100%;
      max-width: 900px;
      box-sizing: border-box;
      margin: 0px auto;
      padding: 10px;

      .subscription-title {
        display: flex;
        align-items: center;
        padding: 0px 0px 5px 20px;
        border-bottom: 2.5px solid #ea8426;

        span {
          margin-left: 10px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #ea8426;
        }
      }

      .hide-plan {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 0px 20px;
        padding: 10px;
        height: 30px;
        background: #de5a67;
        font-family: "Lato";
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
      }

      .subscription-body {
        margin: 30px 20px 40px 20px;
        background: #ffffff;
        box-sizing: border-box;
        box-shadow: 1.77517px 3.55033px 8.87583px rgba(0, 0, 0, 0.15);
        padding: 25px;

        .no-subscription {
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: #938d8a;
        }

        .subscription-body-title {
          display: flex;
          justify-content: center;

          span {
            font-family: "Lato";
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            color: #54504e;
          }
        }

        .subscription-name-price {
          font-family: "Lato";
          font-style: normal;

          .subscription-name {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
              font-weight: 800;
              font-size: 20px;
              line-height: 24px;
              letter-spacing: 0.02em;
              color: #efa058;
            }

            .drop-down-list {
              right: 0px;
              bottom: 0px;
              position: absolute;
              background-color: #ffffff;
              width: 280px;
              box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
              border-radius: 10px;
              z-index: 10;
              height: fit-content;
              overflow: hidden;
              visibility: hidden;
              opacity: 0;
              transition: visibility 0s, opacity 0.2s linear;

              .list {
                width: 100%;
                height: 52px;
                cursor: pointer;
                font-style: normal;
                font-size: 16px;
                padding: 0px 20px;
                line-height: 20px;
                display: flex;
                align-items: center;

                span {
                  margin-left: 5px;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 20px;
                  color: #000000;

                  &:hover {
                    color: grey;
                  }
                }
              }
            }
          }

          .subscription-price {
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #54504e;
          }
        }

        .subscription-description {
          margin-top: 20px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #54504e;
        }

        .benefit-header {
          font-family: "Lato";
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.02em;
          color: #54504e;
        }

        .benefits {
          ul {
            margin: 0px;
            padding: 0px 0px 0px 25px;

            li {
              font-family: "Lato";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 18px;
              color: #54504e;
            }
          }
        }

        .subscription-body-main {
          display: flex;
          justify-content: space-between;
          margin: 20px auto;
          max-width: 600px;

          .description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px 0px 5px 0px;
            width: 280px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #54504e;

            .subscription-btn {
              max-width: 300px;
              height: 43px;
              background: #efa058;
              border: 0.887583px solid #efa058;
              border-radius: 43px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              &:hover {
                background-color: #f5c395;
                border: 0.887583px solid #f5c395;
              }

              &:active {
                background: #efa058;
                border: 0.887583px solid #efa058;
              }

              span {
                font-family: "Lato";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .profile-wrapper {
    .profile {
      .creators-bite {
        .title {
          padding-bottom: 0px;

          span {
            width: calc(100% - 25px);
          }
        }
        .bite-card {
          scroll-snap-type: x mandatory;

          .profile-bite {
            scroll-snap-align: center;

            &:hover {
              transform: none;
            }
          }
        }
      }

      .subscription {
        .subscription-title {
          padding: 0px 0px 5px 30px;

          span {
            font-size: 18px;
            line-height: 20px;
          }
        }

        .subscription-body {
          margin: 15px 20px 40px 20px;

          .subscription-body-title {
            span {
              font-size: 18px;
              line-height: 20px;
            }
          }

          .subscription-body-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0px;

            .description {
              width: 290px;
              margin: 15px 0px 0px 0px;
              font-weight: 600;
              font-size: 16px;
              line-height: 18px;

              span {
                text-align: center;
              }

              .subscription-btn {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}
