.admin-terms-and-privacy-wrapper {
    margin: 50px;

    .admin-terms-and-privacy {
        .navigate-btns {
            margin: 50px 50px 20px 50px;
            display: flex;
            flex-wrap: wrap;

            .btn {
                margin: 10px;
            }
        }
    }
}
