.admin-edit-bite-wrapper {
    margin-bottom: 50px;

    .page-header {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 52px;
        margin: 25px 20px;
        padding: 0px 10px;

        .page-title {
            font-family: "Lato";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #efa058;
        }
    }

    .edit-bite {
        .avatar-title {
            margin: 50px 15% 40px 15%;

            .avatar {
                margin-bottom: 10px;
            }

            .bite-title {
                margin-left: 15px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                color: #54504E;
            }
        }

        .edit-title {
            margin: 0px 15% 50px 15%;
        }

        .edit-video {
            margin: 0px 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            .bite-videos {
                width: 950px;
                display: flex;
                justify-content: space-around;

                .bite-video {
                    position: relative;
                    width: 280px;
                    height: 495px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .add-icon {
                        width: 40px;
                        height: 40px;
                        background: #EFA058;
                        border-radius: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .remove-icon {
                        top: -20px;
                        right: -20px;
                        position: absolute;
                        cursor: pointer;
                        width: 40px;
                        height: 40px;
                        background: #D94E27;
                        border-radius: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .view-icon {
                        top: -20px;
                        right: 30px;
                        position: absolute;
                        cursor: pointer;
                        width: 40px;
                        height: 40px;
                        background: #7E7875;
                        border-radius: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .action-buttons {
            max-width: 800px;
            margin: 20px auto;
            display: flex;
            justify-content: space-evenly;
        }
    }
}