.admin-bite-list-wrapper {
    margin: 50px;

    .admin-bite {
        .navigate-btns {
            margin: 50px 50px 20px 50px;
            display: flex;
            flex-wrap: wrap;

            .btn {
                margin: 10px;
            }
        }

        .search-bar {
            display: flex;
            align-items: center;
            padding: 0px 50px 30px 50px;

            .search-input {
                margin-left: 20px;
                width: calc(100% - 50px);
                height: 40px;
                border: none;
                background-color: #F5F5F4;
                font-size: 16px;
                line-height: 20px;
                font-weight: normal;
                padding: 0px 10px;

                &:focus {
                    outline: none;
                }
            }
        }

        table,
        tr,
        th,
        td {
            border-collapse: collapse;
            border: 0.25px solid #E1E0DF;
        }

        .bite-list {
            margin: 0px 50px;

            .data-table {
                width: 100%;
                white-space: nowrap;

                thead {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.005em;
                    color: #000000;
                    height: 40px;
                    background-color: #F2B176;

                    tr {
                        text-align: left;

                        th {
                            height: 40px;
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                }

                tbody {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.005em;
                    color: #000000;

                    tr {
                        text-align: left;
                        height: 34px;
                        cursor: pointer;

                        td {
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        &:hover {
                            background-color: rgb(240, 240, 240);
                        }
                    }
                }
            }
        }
    }
}