.terms-privacy-wrapper {
    .page-header {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 880px;
        height: 52px;
        margin: 25px auto;
        padding: 0px 10px;

        .page-title {
            font-family: "Lato";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #efa058;
        }
    }

    .terms-privacy {
        padding: 15px;
        max-width: 990px;
        margin: 0px auto;
    }
}

@media screen and (max-width: 680px) {
    .terms-privacy-wrapper {
        .page-header {
            margin: 15px auto;
        }

        .terms-privacy {
            padding: 0px 15px;
        }
    }
}
