$primary-color: #efa058;

.select-option-wrapper {
    .input {
        .label {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #000000;
        }

        select {
            width: 100%;
            background: #ffffff;
            border: 1px solid #54504e;
            border-radius: 15px;
            padding: 14px 15px;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #54504e;
            appearance: none;
            background: transparent;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: calc(100% - 10px);
            background-position-y: 10px;
        }

        select:hover {
            background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(239 ,160, 88)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            border-color: $primary-color;
            color: $primary-color;

            option {
                color: #54504e;
            }
        }

        select:focus {
            outline: none;
        }
    }
}
