.sign-dialog-wrapper {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;

  .sign-dialog-main {
    box-sizing: border-box;
    padding: 24px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 24px 0px;
    top: 50%;
    width: 275px;
    background: #ffffff;
    z-index: 55;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    pointer-events: unset;

    .dialog-header {
      display: flex;
      justify-content: space-between;
      padding: 0px 24px;

      .dialog-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
      }
    }

    .main-body {
      display: flex;
      flex-direction: column;

      .dialog-context {
        width: 220px;
        margin: 0px auto 15px auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        word-wrap: break-word;
        color: #000000;
      }

      .sign-body {
        margin: 20px auto 0px auto;

        .icons {
          display: flex;
          justify-content: space-between;
          width: 60%;
          margin: 0px auto;
          padding: 0px 0 25px 0;

          .icon {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            border: 1px solid #efa058;
            transition: 0.3s;
          }

          .icon:hover {
            background-color: rgba(239, 160, 88, 0.3);
            border: 1px solid rgba(239, 160, 88, 0.1);
          }

          .icon:hover GoogleIcon {
            color: white;
          }
        }

        p {
          width: 210px;
          text-align: center;
          color: #bcb6a9;
          font-size: 14px;
          max-width: 263px;
          margin: 0;
        }
      }
    }
  }
}