.teaser-wrapper {
    position: relative;
    width: 280px;
    height: 480px;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.15));

    .cover-image {
        width: 280px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .react-player {
        width: 100% !important;
        height: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        video {
            height: auto !important;
            width: 100% !important;
        }
    }

    .mute-icon {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    .play-icon-dareme {
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        background: #efa058;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #f2b176;
        }
    }

    .play-icon-fundme {
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        background-color: #14bdc7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #108aa1;
        }
    }
}
